@use "../styles/variables" as *;

.navbar {
  padding: 2rem;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;

    li {
      color: #aaa;
      font-size: 0.85rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
      transition: color 0.3s;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        color: #f8b26a; // soft orange
      }
    }
  }
}
