@use "../styles/variables" as *;

.projects {
  padding: 4rem 2rem;
  text-align: center;

  h2 {
    font-family: $fontTitle;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: $accent;
  }

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
  }
}
